$color-green: #0E9F6E;
$color-text: #707275;
$color-pending: #1C64F2;
$color-drink: #FF5A1F;

$color-logout: #0E9F6E;
$color-notify: #0E9F6E;
$color-table: #F4F5F7;
$color-process: #047481;
$color-delivery: #2D9171;
$color-order: #D03801;
$color-pending-status: #C27813;
$color-cancel : red;
$color-th: #707275;
$color-border: #F2F2F2;
$color-sub: #656565;

$background-total: #FEECDC;
$background-cancel: #FDE8E8;
$background-process: #D5F5F6;
$background-pending: #E1EFFE;
$background-order: #DEF7EC;
$background-hover: #030303;
$background-delivery: #DEF7EC;
$background-pending-status: #FDF6B2;
$background-footer: #0A472E;

$background-banner-home: #F9F1E4;

$btn-primary: #F4C340;


$text-heading: #347758;

