.header {
    background-color: #fff;
    &__container {
        border-bottom: 1px solid $color-border;
        z-index: 5;

        &.active {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            padding: 0 1.5rem;
            background-color: #fff;
            animation: fadeHeader ease 0.4s;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.04);
        }
    }
    &__cart {
        &-modal {
            height: 92%;
            &-list {
                overflow-y: scroll;
                &-item {
                    border-bottom: 1px solid $color-border;
                    &:last-child {
                        border-color: transparent;
                    }
                    transition: all ease 0.3s;
                    &:hover {
                        background-color: #f9f9f9;
                    }
                    &-img {
                        border: 1px solid $color-border;
                        border-radius: 5px;
                        &-child {
                            width: 70px;
                            height: 70px;
                            object-fit: cover;
                        }
                    }
                    &-content {
                        &-title {
                            color: #000;
                            font-weight: 500;

                            &:hover {
                                color: $text-heading;
                            }
                        }
                        &-price {
                            font-size: 0.95rem;
                        }
                        &-quantity {
                            font-size: 0.95rem;
                        }
                        &-multifly {
                            font-size: 0.7rem;
                            color: $color-sub;
                        }
                        &-icon {
                            font-size: 1.3rem;
                            opacity: 0.4;
                            color: #000;
                            cursor: pointer;
                            transition: all ease 0.25s;
                            &:hover {
                                opacity: 1;
                                color: red;
                            }
                        }
                    }
                }
            }
            &-calc {
                border-top: 1px solid $color-border;
                &-btn {
                    border: none;
                    text-align: center;
                    outline: none;
                    padding: 10px;
                    border-radius: 10px;
                    background-color: $text-heading;
                    font-weight: 600;
                    color: #fff;
                    width: 100%;
                    transition: all ease .3s;
                    &:hover {
                        background-color: $btn-primary;
                        color: #000;
                    }
                }
            }
        }
    }
    &__img {
        width: 7rem;
        height: auto;
        @include responsive(lg-screen) {
            width: 8.5rem;
        }
    }
    &__tel {
        color: #000;
        font-weight: 700;
        &-text {
            font-size: 0.9rem;
        }
        &:hover {
            color: $text-heading;
        }
    }
    &__search {
        &-input {
            border: 2px solid $color-border;
            padding: 14px 20px;
            line-height: 1;
            width: 100%;
            font-weight: 600;
            outline: none;
            font-size: 0.8rem;
            border-radius: 12px;
            transition: all ease 0.3s;

            &:focus {
                border-color: $text-heading;
            }

            &::placeholder {
                color: #656779;
                font-size: 0.8rem;
            }
        }
        &-btn {
            position: absolute;
            top: 0;
            font-size: 1.2rem;
            right: 1.8%;
            height: 100%;
            width: 3rem;
            border: none;
            outline: none;
            border-radius: 0 12px 12px 0;
            background-color: transparent;
            transition: all ease 0.3s;
            &:hover {
                color: $text-heading;
            }
        }
    }
    &__account {
        &:hover &-btn-user {
            border-radius: 12px;
            background-color: #dfefc5;
        }

        &-title {
            color: $color-text;
            font-size: 0.85rem;
        }

        &-btn-user {
            background-color: #eff7e2;

            &:hover {
                background-color: #dfefc5;
            }
            &:hover &-icon {
                opacity: 1;
            }
            &-icon {
                opacity: 0.7;
            }
        }
    }
    &__btn-wishlist {
        background-color: #eaf1ee;
        &:hover {
            background-color: #aec9bc;
        }
    }
    &__btn-cart {
        background-color: #fdf3d9;
        &:hover {
            background-color: #fae1a0;
        }
    }
    &__btn-menu {
        background-color: $btn-primary;
        color: #fff;
        border: none;
        width: 4rem;
        height: 50px;
        border-radius: 12px;
        outline: none;
        font-size: 1.7rem;
        &:hover {
            color: $text-heading;
        }
    }
}
@keyframes fadeHeader {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
