.status {
    display: inline-block;
    font-weight: 600;
    padding: 0.2rem 0.4rem;
    font-size: 0.65rem;
    border-radius: 30px;

    &-cancel{
        background-color: $background-cancel;
        color: $color-cancel;
    }
    &-delivered{
        background-color: $background-delivery;
        color: $color-delivery;
    }
    &-processing{
        background-color: $background-delivery;
        color: $color-delivery;
    }
    &-pending{
        background-color: $background-pending-status;
        color: $color-pending-status;
    }
}
