.navigationClient {
    &__category {
        &-btn {
            display: flex;
            justify-content: space-between;
            padding: 12px 25px;
            border-radius: 6px;
            align-items: center;
            font-size: 0.9rem;
            font-weight: 600;
            background-color: $btn-primary;
            width: 210px;
            height: 100%;
            border: none;
            outline: none;
            color: #fff;
            overflow: hidden;

            &:hover &-up {
                display: block;
            }
            &:hover &-down {
                display: none;
            }
            &-up {
                display: none;
                animation: fadeDownToUp ease 0.3s;
            }
            &-down {
                display: block;
                animation: fadeUpToDown ease 0.2s;
            }
        }
        &:hover &-list {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            background-color: transparent;
            height: 10px;
        }
        &-list {
            position: relative;
            z-index: 5;
            visibility: visible;
            opacity: 1;
            list-style-type: none;
            padding: 0;
            margin: 0;
            width: 100%;
            top: auto;
            border-radius: 6px;
            left: auto;
            transform: translateY(0%);
            background-color: transparent;
            border: 0px solid transparent;
            transition: all ease 0.3s;
            @include responsive (xl-screen){
                position: absolute;
                visibility: hidden;
                opacity: 0;
                top: 120%;
                border-radius: 6px;
                left: 0;
                border: 1px solid $color-border;
                transform: translateY(6%);
                background-color: #fff;
            }
            &-item {
                border-bottom: 1px solid $color-border;
                &:last-child{
                    border-bottom: 1px solid transparent;
                }
                &-link {
                    display: flex;
                    align-items: center;
                    font-size: 0.85rem;
                    color: #000;
                    padding: 10px 25px;
                    
                    @include responsive (xl-screen){
                        color: #656565;
                    }
                    &:hover {
                        color: #656565;
                    }
                }
                
            }
        }
    }
    &__link {
        &-list {
            display: block;
            list-style-type: none;
            @include responsive(xl-screen) {
                display: flex;
                justify-content: space-between;
               
            }
            &-item {
                &-link {
                    display: block;
                    color: #000;
                    font-weight: 600;
                    border-bottom: 1px solid $color-border;

                    @include responsive (xl-screen){
                        border-bottom: 1px solid transparent;
                    }
                    &.active {
                        color: $text-heading;
                    }
                    &:hover {
                        color: $text-heading;
                    }
                    &:hover &-text::after {
                        width: 100%;
                        left: 0;
                    }
                    &-text {
                        position: relative;
                        &::after {
                            content: "";
                            position: absolute;
                            top: 100%;
                            right: 0;
                            width: 0%;
                            height: 1px;
                            background-color: #000;
                            transition: all ease 0.4s;
                        }
                    }
                }
            }
        }
    }
    &__ship {
        color: #656565;
        font-size: 0.9rem;
        &-icon {
            color: #000;
            font-size: 1.1rem;
        }
    }
    &__mobile{
        position: fixed;
        border-top: 1px solid $color-border;
        bottom: -0.02%;
        left: 0;
        background-color: #fff;
        right: 0;
        z-index: 5;
        height: 75px;
        box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
        &-list{
            &-item{
                &-link{
                    display: block;
                    color: #000;
                    width: 100%;
                    &:hover{
                        color: #000;
                    }
                    border-left: 3px solid $color-border;
                    &-icon{
                        font-size: 1.5rem;

                        @include responsive (md-screen){
                            font-size: 1.6rem;
                        }
                        @include responsive(lg-screen){
                            font-size: 1.8rem;
                        }
                    }
                    &-text{
                        font-size: 0.9rem;
                        font-weight: 600;
                        @include responsive(md-screen){
                            font-size: 1.2rem;
                        }
                        @include responsive(lg-screen){
                            font-size: 1.4rem;
                        }
                    }
                    
                }
            }
        }
    }
}

@keyframes fadeDownToUp {
    from {
        opacity: 0;
        transform: translateY(150%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeUpToDown {
    from {
        transform: translateY(-150%);
    }
    to {
        transform: translateY(0);
    }
}
